* {
    margin: 0;
    padding: 0;
}
.mainBody {
    box-sizing: ;
}
.my-flex-container {
    display: flex;
    height: 400px;
    background: grey;
    justify-content: center;
    
}

.my-flex-box-1 {
    width: 60%;
    height: 300px;
    background: red;
    text-align: center;

}