* {
    margin: 0;
    padding: 0;
}

.my-flex-container {
    display: flex;
    height: 400px;
    
    justify-content: center;    
}

.my-flex-box-1 {
    width: 60%;
    height: 300px;
    background: grey;
    text-align: center;
    margin: auto;
}


